.setup-complete {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 16px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url('./assets/images/blue-wizard.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    bottom: 10%;
  }

  &__title {
    margin-bottom: 13px;
    color: var(--slr__title-txt-clr);
    @include font-template(26px, 39px, 700);
  }

  &__text {
    @include font-template(18px, 27px);
  }
}
