.settings-section {

  &__content {}

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    gap: 15px;
    @include font-template(15px, 18px, 500);
  }

  &__header-title {
    color: var(--slr__title-txt-clr);
    @include font-template(16px, 24px, 600);
  }

  &__header-subtitle {
    text-align: right;
    color: var(--slr__txt-secondary-clr);
    @include font-template(12px, 19px);
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }
}
