.connection-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: var(--slr__body-bg-clr);
  background-image: url("/assets/images/background-light.svg");
  background-repeat: no-repeat;
  background-size: cover;

  &__header-wrapper {
    align-self: end;
    margin-bottom: 45px;
    padding-right: 15px;
  }

  &__content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }

  &__status {
    height: 75%;
  }

  &__details {
    height: 25%;
  }

  &__quota-message {
    text-align: center;
    text-transform: uppercase;
    color: $slr__clr-grey-dark-1;
  }

  &__node {
    margin-bottom: 40px;
    padding: 0 30px;
  }

  &__quota-wrapper {
    margin-bottom: 50px;
  }

  &__nodes-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
  }

  &__nodes-wrapper {
    position: relative;
    top: 10%;
    width: 100%;
    height: 90%;
    background-color: var(--slr__body-bg-clr);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  &__nodes {
    background-image: url("/assets/images/background.svg");
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 100%;

    &:before {
      background-color: white;
    }
  }
}
