.setup-onboarding {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  text-align: center;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    bottom: 10%;
  }

  &__title {
    margin-bottom: 7px;
    color: var(--slr__title-txt-clr);
    @include font-template(24px, 36px, 600);
  }

  &__text {
    color: var(--slr__setup-onboarding-txt-clr);
    @include font-template(12px, 18px);
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__button-skip {
    color: var(--slr__btn-secondary-outline-clr);
  }

  @media (max-width: 375px) {
    &__title {
      @include font-template(22px, 30px, 600);
    }

    &__text {
      @include font-template(11px, 14px);
    }
  }

  @media (max-width: 360px) {
    &__title {
      @include font-template(20px, 30px, 600);
    }

    &__text {
      @include font-template(10px, 14px);
    }

    &__content {
      bottom: 5%;
    }
  }
}
