.continent-preview {
  display: flex;
  align-items: center;

  &__map {
    margin-right: 15px;
    width: 50px;
    height: 50px;
    background-position: center center;
    background-size: 50px 50px;
    background-repeat: no-repeat;
  }

  &__title {
    color: var(--slr__title-txt-clr);
    @include font-template(12px, 18px, 700);
  }

  &__subtitle {
    margin-top: 1px;
    color: var(--slr__txt-clr);
    @include font-template(10px, 15px);
  }
}
