:root {
  --slr__body-bg-clr: #{$slr__clr-white};
  --slr__bg-outline-clr: #e7f6f9;

  --slr__border-clr: #515151;

  --slr__txt-clr: #{rgb(141, 141, 146)};
  --slr__txt-secondary-clr: #868686;

  --slr__title-txt-clr: #{$slr__clr-black};

  --slr__connection-text-secondary-clr: rgb(204, 204, 204);
  --slr__connection-text-primary-success-clr: #0a84ff;
  --slr__connection-text-secondary-success-clr: #9dceff;
  --slr__connection-txt-danger-clr: rgb(255, 69, 58);

  --slr__node-title-light-clr: rgb(232, 231, 232);
  --slr__node-info-txt-clr-primary: #0a84ff;

  // Tabs

  --slr__tabs-clr: rgba(0, 0, 0, 0.85);
  --slr--tab-bg-active: #E5F4FC;
  --slr--tab-txt-clr: #0093DC;

  // end Tabs

  // Buttons

  --slr__btn-primary-bg: #0093DC;
  --slr__btn-primary-clr: #fff;

  --slr__btn-secondary-bg: #E5E5EA;
  --slr__btn-secondary-clr: #1A1A1A;
  --slr__btn-secondary-disabled-bg: #F9F9F9;
  --slr__btn-secondary-disabled-clr: #868686;
  --slr__btn-secondary-outline-bg: transparent;
  --slr__btn-secondary-outline-clr: #868686;
  --slr__btn-secondary-outline-border-clr: #C1C1C1;

  --slr__btn-danger-bg: #fff;
  --slr__btn-danger-clr: #FF3B30;

  --slr__btn-info-bg: #E5F4FC;
  --slr__btn-info-clr: #0093DC;

  --slr__btn-light-bg: #fff;
  --slr__btn-light-clr: #0093DC;

  --slr__btn-text-bg: transparent;
  --slr__btn-text-clr: #0093DC;
  --slr__btn-text-disabled-clr: #1A1A1A;

  // end Buttons

  // Input

  --slr__input-bg-clr: rgb(249, 249, 249);
  --slr__input-focused-bd-clr: $slr__clr-blue-4;
  --slr__input-placeholder-clr: #777;

  // end Input

  // Purchase modal

  --slr__purchase-product-bg-clr: rgb(250, 250, 250);
  --slr__purchase-product-bg-active-clr: rgba(215, 254, 142, 0.15);

  // end Purchase modal

  // Account view

  --slr__account-balance-clr: #4f5150;
  --slr__account-balance-value-clr: #1A1A1A;

  // end Account view

  // List

  --slr__list-item-bg: white;
  --slr__list-item-border-clr: #F4F4F4;

  // end List

  // Recover mnemonic view

  --slr__recover-mnemonic-field-bg: #ececec;
  --slr__recover-mnemonic-field-clr: #1a1a1a;

  // end Recover mnemonic view

  // Setup onboarding view

  --slr__setup-onboarding-txt-clr: #868686;

  // end Recover mnemonic view
}
