@import '~/flagpack/dist/flagpack.css';

.node-details {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--slr__title-txt-clr);

  &__flag {
    position: relative;
    margin-right: 16px;
    border-radius: 50%;
    width: 46px !important;
    height: 46px !important;
  }

  &__shield {
    position: absolute;
    right: -4px;
    bottom: -4px;
    width: 24px;
    height: 28px;
    background: url('/assets/icons/shield.svg') bottom right no-repeat;
  }

  &__title {
    color: var(--slr__txt-clr);
    @include font-template(14px, 21px, 600);
  }

  &__subtitle {
    display: flex;
    align-items: center;
    @include font-template(14px, 21px, 800);
  }

  &--inactive {

    .node-preview__title {
      color: var(--slr__txt-clr);
    }

    .node-preview__subtitle {
      color: var(--slr__node-title-light-clr);
    }

    .node-preview__flag {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--slr__node-title-light-clr);
      color: var(--slr__txt-clr);
    }
  }
}
