.connection-status {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background: url("/assets/images/world-map-unprotected.svg") center center no-repeat;
  background-size: 100%;
  color: var(--slr__connection-txt-danger-clr);

  &__card-text {
    @include font-template(16px, 24px);
  }

  &__card-status-text {
    @include font-template(16px, 24px);
  }

  &__card {
    box-shadow: 0 17px 43px rgba(0, 147, 220, 0.11), 0 3.79717px 9.60461px rgba(0, 147, 220, 0.0655718);
    border-radius: 10px;
    padding: 80px 20px 19px;
    background: var(--slr__body-bg-clr) url("/assets/icons/shield-cross.svg") no-repeat top 25px center;
    background-size: 43px 43px;
    margin-top: 25px;
    text-align: center;
  }

  &__ip {
    color: var(--slr__txt-clr);
    @include font-template(12px, 18px);
  }

  &--protected {
    color: #0093DC;
    background-image: url("/assets/images/world-map-protected.svg");

    .connection-status__card {
      box-shadow: 0 0 15px 0 var(--slr__bg-outline-clr);
      background-image: url("/assets/icons/shield-check.svg");
    }

    .connection-status__card-status-text {
      color: var(--slr__node-info-txt-clr-primary);
    }
  }
}
