.no-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--slr__title-txt-clr);

  &__title {
    margin-top: 27px;
    margin-bottom: 9px;
    @include font-template(30px, 45px, 700);
  }

  &__text {
    text-align: center;
    @include font-template(16px, 24px);
  }
}
