.slr-tabs {
  height: 100%;

  &__nav {
    display: flex;
    margin-bottom: 24px;
    height: 58px;
    border: solid 1px var(--slr__border-clr);
    border-radius: 32px;
    background-color: var(--slr__body-bg-clr);
  }

  &__nav-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px;
    text-align: center;
    color: var(--slr__tabs-clr);
    border-radius: 32px;
    @include font-template(13px, 17px);

    &--active {
      color: var(--slr--tab-txt-clr);
      background-color: var(--slr--tab-bg-active);
    }
  }

  &__content {
    height: calc(100% - 84px);
  }
}
