.continents-list {
  overflow-x: auto;
  height: 100%;
  max-height: 810px;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid var(--slr__list-item-border-clr);
    border-radius: 8px;
    height: 72px;
    padding-left: 14px;
    background-color: var(--slr__list-item-bg);

    &:last-child {
      margin-bottom: 0;
    }
  }
}
