@import '~/flagpack/dist/flagpack.css';

.country-preview {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--slr__title-txt-clr);

  &__flag {
    margin-right: 16px;
    border-radius: 50%;
    width: 40px !important;
    height: 40px !important;
  }

  &__title {
    @include font-template(12px, 18px, 700);
  }

  &__subtitle {
    margin-top: 1px;
    color: var(--slr__txt-clr);
    @include font-template(10px, 15px);
  }

  &__arrow {
    flex-grow: 1;
    text-align: end;
  }
}
