.slr-button {
  position: relative;
  border: none;
  border-radius: 50px;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  padding: 15px 40px;
  @include font-template(14px, 21px, 500);

  &--block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &--tiny {
    padding: 8px 40px;
    @include font-template(12px, 18px, 500);
  }

  &--large {
    padding: 17px 40px;
    @include font-template(20px, 30px, 500);
  }

  &--disabled {
    cursor: default;
  }

  &--shadow {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  // Variants styles

  &--primary {
    background-color: var(--slr__btn-primary-bg);
    color: var(--slr__btn-primary-clr);
  }

  &--secondary {
    background-color: var(--slr__btn-secondary-bg);
    color: var(--slr__btn-secondary-clr);
  }

  &--secondary#{&}--disabled {
    background-color: var(--slr__btn-secondary-disabled-bg);
    color: var(--slr__btn-secondary-disabled-clr);
  }

  &--secondary#{&}--outline {
    background-color: var(--slr__btn-secondary-outline-bg);
    color: var(--slr__btn-secondary-outline-clr);
    border: 1px solid var(--slr__btn-secondary-outline-border-clr);
  }

  &--danger {
    background-color: var(--slr__btn-danger-bg);
    color: var(--slr__btn-danger-clr);
  }

  &--info {
    background-color: var(--slr__btn-info-bg);
    color: var(--slr__btn-info-clr);
  }

  &--light {
    background-color: var(--slr__btn-light-bg);
    color: var(--slr__btn-light-clr);
  }

  &--text {
    padding: unset !important;
    background-color: var(--slr__btn-text-bg);
    color: var(--slr__btn-text-clr);
  }

  &--text#{&}--disabled {
    color: var(--slr__btn-text-disabled-clr);
  }

  @media (max-width: 375px) {
    padding: 11px 30px;
    @include font-template(12px, 21px, 500);

    &--tiny {
      padding: 6px 30px;
      @include font-template(10px, 14px, 500);
    }

    &--large {
      padding: 12px 30px;
      @include font-template(16px, 24px, 500);
    }
  }
}
